:root {
	--color-text-primary: #333333;
	--color-text-secondary: #666666;
	--color-text-link: #1e90ff;

	--color-background-primary: #ffffff;
	--color-background-secondary: #f5f5f5;

	--color-border-primary: #d8d8d8;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

body {
	background-color: var(--color-background-primary);
	color: var(--color-text-primary);
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

hr {
	margin: 1rem 0;
	padding: 1rem;
	border: none;
	border-bottom: 1px solid var(--color-border-primary);
}

/* #picture {} */

#picture h2 {
	font-size: 1.5rem;
	text-align: center;
}

/* #picture .area {} */

#picture h3 {
	font-size: 1.2rem;
	text-align: left;
}

#picture .list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
	gap: 0.5rem;
}

#picture .item {
	font-size: 0.8rem;
	color: var(--color-text-secondary);
	border: 1px solid var(--color-border-primary);
	border-radius: 0.5rem;
}

/* #picture .image {} */

#picture .image img {
	width: 128px;
	height: 128px;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

#picture .bonus {
	margin-left: 0.5rem;
}

#picture .flag {
	margin-left: 0.5rem;
}

.copyright {
	font-size: 0.8em;
	text-align: center;
	color: var(--color-text-secondary);
	margin-top: 2rem;
	border-top: 1px solid var(--color-border-primary);
}
